
.org {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #1E1E1E;
    color: white;
}

.listas{
    font-size: 24px;
    font-style: italic;
    background-color:#FF6347;
}

/* Funciona apenas por causa da ordem que as classes estão inseridas. Se .listas estiver acima de .org, então toda a página, inclusive os botões ficam com background color black e color white */
